<div ng-controller="mainCtrl">

    <main id="main">
        <header class="header">
            <div class="container-fluid">
                <div ui-view="album"></div>
            </div>
        </header>
        <section>
            <div class="container-fluid">
                <aside class="col-md-4 col-sm-4 aside-left">
                    <div ui-view="imageDown"></div>
                </aside>
                <div class="col-md-12 col-sm-12 messages-window height">
                    <div ui-view="imageItem"></div>
                </div>
                <aside class="col-md-4 col-sm-4 aside-right">
                    <div ui-view="imageList"></div>
                </aside>
            </div>
        </section>
    </main>

</div>